* {
  box-sizing: border-box;
}
.leftside,.rightside {
  height: 50%;
  width: 100%;
  padding: 10px;
  padding-right: 15px;
}
.leftside {
  background-color: #F0F8FF;
}
.rightside {
  background-color: #F0F8FF;
}

@media (min-width:1500px) {

      .leftside,.rightside{
        height: 100vh;
      }
}
img {
  width: 400px;
  height: 250px;
  border-radius: 50%;
  background-clip: content-box;
  float: left;
  padding: 10px;
  shape-outside: ellipse();
  font-size: 90px;
}

.p {
  margin: 10px;
}
.a {
  color: grey;
}
span {
  padding-top: 50px;
  display: inline-block;
}

/**/
