
*  {
  box-sizing: border-box;
}
.img {
  width: 7vh;
  height:5vh;
}

.main-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ADD8E6;

}

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.main-header {
  display: flex;
  align-items: center;
  text-decoration: none;

}
.brand-poet , .brand-poet-name {
  display: flex;
  align-items : center;
  padding-left: 0.5rem;
  text-decoration: none;
}
.home-main-section  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}
 .siir {
   padding-left: 5.5rem;
   padding-right: 5.5rem;
   padding-top: 2rem;
   padding-bottom:2rem;
    border:1px #ADD8E6 solid;
}

.table-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

  margin: 1rem;
}
.list1{
  margin-top: -1rem;
  padding-left: 10.5rem;
  padding-right: 10.5rem;
  padding-top: 2rem;
  padding-bottom:2rem;
  border:1px #ADD8E6 solid;
}
.fourTofour, th,  td {
  padding: 1rem;

  border:1px #ADD8E6 solid;
}
.TwotoTwo {
    margin: 1rem;
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border:1px #ADD8E6 solid;
}

.akif {
  width: 15vh;
  height:10vh;
}
.main-footer .container {
    display: flex;
    justify-content: space-between;
}
.main-nav ul {
  display: flex;
  margin-left: 1rem;
  padding: 0;
  list-style: none;
  text-decoration:none;
}
.main-nav a {
  display: flex;
  margin-left: 0.2rem;
  padding-left:1rem;
  padding-right: 1rem;
  justify-items:space-between;
  text-decoration:none;
}
.main-header li :hover {
  background-color: #F08080;
}
.main-header a :hover {
  background-color: #F08080;
}
 .footer-nav ul{
display: flex;
margin-left: 0;
padding: 0;
list-style: none;
text-decoration:none;

}
.social-link img {
    width: 1em;
    margin-right: .25rem ;
}
.footer-nav a {
    color:black ;
    text-decoration: none;
   padding-left: 1rem;

}
.footer-nav a:hover {
color :#adadad;
}
 .main-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F08080;

}
.container{
max-width: 1200px;
margin : 0 auto;
padding :0 40px ;
flex-grow: 1;
}
