*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
/*
Body ile alakali bir degisiklik yapmak aklimiza
gelmedi  ancak burada butun sayfanin kapsanminin
degistirilmesi gerekiyor burada
font vs degistirilebilr.
*/
body {
  font-family: Arial;
  background-color: #f1f1f1;
  position: relative;
  /*gidip main e position relative verdim
  ancak body ye vermem gerekiyorki uzerinde oynama
  yapabileyim.*/
  min-height: 100vh;
  padding-bottom: 65px;
}
header {
  padding: 50px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

header h1{
font-size: 48px;
margin-bottom: 30px;
}

header p {
  font-size: 22px;

}

main {
  width: 90vw;
  margin:0 auto;
  padding: 30px 20px;

  /*min-height: calc(100vh - 236px - 64px )*/
}
article {
  background-color: #F5F5DC;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
/*biz  daha bir ust katman
olan main i sekillendirmeden
article i olusturmaya calistik
burada bizr ders distan ice dogru
hareket etmemiz gerekiyor.
ve yukaridaki gibi bir tanim
egrekmiyor
ancak background verip
padding ve margin aryarlanmasi
yapilabilr.
*/
}

article:last-child {
  margin-bottom: 0;
}
article h5 {
  margin: 10px 0 25px 0;
  /*top-right-bottom-left*/
}
article p {
  margin-top: 16px;
  line-height: 24px;
}

article p a {
  color: #D2691E;
}
article p a:hover {
  color: black;
  background-color: red;

}

footer {
  padding: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
