
.taskb, .radio-h1,.text-area-h1 {
  color : black;

}

.h1 {
  text-align: center;

}
.taskb{

  border: 1px black solid;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 45%;
  background-color: #FF8C00;
}

.header{
  grid-area: header;
  background-color: #FF8C00;
}
.form{
  grid-area: form;
  background-color: #FF8C00;
}
.checkbox{
  grid-area: checkbox;
  background-color: #FF8C00;
}
.radio-button{
  grid-area: radio-button;
  background-color: #FF8C00;
}
.drop-down,.drop-label{
  grid-area: drop-down;
  background-color: #FF8C00;
}
.text-area{
  grid-area: text-area;
  background-color: #FF8C00;
}
.submit-reset{
  grid-area: submit-reset;
  background-color: #FF8C00;
}
.container {

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: auto auto auto;

  grid-template-areas:
  "header header header "
  "form checkbox  submit-reset "
  "text-area radio-button  drop-down ";
background-color: black;

  /* 300px 80px 210px 210px */
}

#email{
  margin-left: 25px;
}

#email:hover, #password:hover{
  background-color: grey;

}

.form , .checkbox,.select-gender, .select-age, .radio-button,
.drop-down, .text-area, .submit-reset  {
  color: black;
  padding: 10px;
  padding-right: 15px;
  margin: 20px;
  border: 2px #D3D3D3 solid;
  border-radius: 2px;
}

#email, #password, .submit, .reset{
  background-color: white;
}

.checkbox, .radio-button  {
  margin-top: 10px;
  padding: 20px;s
}

#TIN,#cars {
  margin:10px;
}
