
.h1, .radio-h1,.text-area-h1 {
  color : grey;

}

.h1 {
  text-align: center;
}

.main-body {
  display: flex;
  flex-direction: column;
  //justify-content: space-around;
  align-items: center;
  background-color: rgb(200);
  padding:20px;
}

#email{
  margin-left: 25px;
}

#email:hover, #password:hover{
  background-color: grey;

}
.form , .checkbox,.select-gender, .select-age, .radio-button,
.drop-down, .text-area, .submit-reset  {
  color: grey;
  padding: 10px;
  padding-right: 15px;
  margin: 20px;
  border: 2px #D3D3D3 solid;
  border-radius: 2px;
}

#email, #password, .submit, .reset{
  background-color: white;
}

.checkbox, .radio-button  {
  margin-top: 10px;
  padding: 20px;s
}

#TIN,#cars {
  margin:10px;
}

.container {
  border: blue;
  background-color: pink;
}
