* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  //font types
  background-color: #F0FFFF;
  height: 100vh;

}
header {
text-align: center;
}
header img {
  box-shadow: 5px 5px 5px grey;
 transform: rotate(7deg);
 }

.galary img {
  width: 10vw ;
  height:15vh ;
}
main {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - (188px + 58px));
}
.leftside .galary {
  margin: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.rightside .text {
  margin:20px;
  padding:10px;
  display: flex;
  flex-direction: row;
}
 p {
   font-size: 22px;
   margin:5px;
   padding:5px ;
 }
 footer{
   background-color: #333;
   text-align: center;
 }
 footer h1 {
   color: white;

 }
 .oval .up {
   display: flex;
   flex-direction: row;
 }
 .up .left, .up .right{
   width: 50%;
 }

 .up .right {
   margin-top: 10px;
 }
.down img{
   float: left;
   width: 10vw ;
   height:15vh ;
 }
span {
  color : red;
  font-size: 30px;
  margin: 10px;
  padding: 10px;
}
